{% extends 'myapp/base.html' %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold mb-4">My Bookings</h2>

    <!-- Display messages -->
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="p-4 mb-4 text-sm text-white bg-green-500 rounded">
            {{ message }}
        </div>
        {% elif message.tags == 'error' %}
        <div class="p-4 mb-4 text-sm text-white bg-red-500 rounded">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="shadow-lg m-10 rounded-lg">
        <div class="flex flex-wrap sm:flex-no-wrap justify-between px-4 sm:px-15 py-5 bg-gray-100 border-b">
            <span class="w-full sm:w-1/4 font-bold">Booking </span>
            <span class="w-full sm:w-1/4 font-bold">Table Type</span>
            <span class="w-full sm:w-1/4 font-bold text-red-600">Cancel</span>
        </div>
        <hr class="m-5">
        {% for booking in user_bookings %}
        <div class="flex flex-wrap sm:flex-no-wrap justify-between px-4 sm:px-15 py-5 border-b">
            <span class="w-full sm:w-1/4 font-bold">{{ booking.booking_instance }}</span>
            <span class="w-full sm:w-1/4 font-bold">{{ booking.table_type }}</span>
            <span class="w-full sm:w-1/4">
                <form action="{% url 'cancel_booking' booking.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Cancel</button>
                </form>
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
